<section id="case_studies" class="section--case_studies py-5">
  <div class="container">
    <div class="row wow slideInUp">
      <div class="col-12 col-lg-10 col-xl-12 m-auto text-center">
        <h3 class="text-uppercase mb-4">Case Studies</h3>
        <div class="gallery-for">
          <div>
            <a href="{{ '/dine' | relative_url }}"><img src="{{ '/assets/img/dine.jpg' | relative_url }}" alt="" class="w-100"></a>
            <a href="{{ '/dine' | relative_url }}"><img src="{{ '/assets/img/dine.jpg' | relative_url }}" alt="" class="w-100"></a>
            <a href="{{ '/mix' | relative_url }}"><img src="{{ '/assets/img/mix.jpg' | relative_url }}" alt="" class="w-100"></a>
          </div>
          <div>
            <a href="{{ '/live' | relative_url }}"><img src="{{ '/assets/img/live.jpg' | relative_url }}" alt="" class="w-100"></a>
          </div>
          <!-- <div>
            <a href="{{ '/mix' | relative_url }}"><img src="{{ '/assets/img/mix.jpg' | relative_url }}" alt="" class="w-100"></a>
          </div> -->
          <!-- <div>
            <a href="{{ '/mix' | relative_url }}"><img src="{{ '/assets/img/mix.jpg' | relative_url }}" alt="" class="w-100"></a>
          </div> -->
          <div>
            <a href="{{ '/dine' | relative_url }}"><img src="{{ '/assets/img/dine.jpg' | relative_url }}" alt="" class="w-100"></a>
          </div>
          <div>
            <a href="{{ '/serve' | relative_url }}"><img src="{{ '/assets/img/serve.jpg' | relative_url }}" alt="" class="w-100"></a>
          </div>
          <div>
            <a href="{{ '/stay' | relative_url }}"><img src="{{ '/assets/img/stay.jpg' | relative_url }}" alt="" class="w-100"></a>
          </div>
        </div>
        <div class="gallery-nav">
          <div>
            <div class="thumb-wrapper position-relative">
              <div class="front">
                <a href="{{ '/dine' | relative_url }}"><img src="{{ '/assets/img/bars-restaurants-thumb.jpg' | relative_url }}" alt="" class="mw-100 m-auto"></a>
              </div>
            </div>
            <div class="text m-auto p-2">
              <h5 class="text-uppercase">Dine</h5>
                <a href="{{ '/mix' | relative_url }}"><img src="{{ '/assets/img/mixed-use-projects-thumb.jpg' | relative_url }}" alt="" class="mw-100 m-auto"></a>
              </div>
            </div>
            <div class="text m-auto p-2">
              <h5 class="text-uppercase">Mix</h5>
            </div>
          </div>
          <div>
            <div class="thumb-wrapper position-relative">
              <div class="front">
                <a href="{{ '/live' | relative_url }}"><img src="{{ '/assets/img/residential-projects-thumb.jpg' | relative_url }}" alt="" class="mw-100 m-auto"></a>
              </div>
            </div>
            <div class="text m-auto p-2">
              <h5 class="text-uppercase">Live</h5>
            </div>
          </div>
          <!-- <div>
            <div class="thumb-wrapper position-relative">
              <div class="front">
                <a href="{{ '/mix' | relative_url }}"><img src="{{ '/assets/img/mixed-use-projects-thumb.jpg' | relative_url }}" alt="" class="mw-100 m-auto"></a>
              </div>
            </div>
            <div class="text m-auto p-2">
              <h5 class="text-uppercase">Mix</h5>
            </div>
          </div> -->
          <div>
            <div class="thumb-wrapper position-relative">
              <div class="front">
                <a href="{{ '/dine' | relative_url }}"><img src="{{ '/assets/img/bars-restaurants-thumb.jpg' | relative_url }}" alt="" class="mw-100 m-auto"></a>
              </div>
            </div>
            <div class="text m-auto p-2">
              <h5 class="text-uppercase">Dine</h5>
            </div>
          </div>
          <div>
            <div class="thumb-wrapper position-relative">
              <div class="front">
                <a href="{{ '/serve' | relative_url }}"><img src="{{ '/assets/img/community-institutions-thumb.jpg' | relative_url }}" alt="" class="mw-100 m-auto"></a>
              </div>
            </div>
            <div class="text m-auto p-2">
              <h5 class="text-uppercase">Serve</h5>
            </div>
          </div>
          <div>
            <div class="thumb-wrapper position-relative">
              <div class="front">
                <a href="{{ '/stay' | relative_url }}"><img src="{{ '/assets/img/hotel-projects-thumb.jpg' | relative_url }}" alt="" class="mw-100 m-auto"></a>
              </div>
            </div>
            <div class="text m-auto p-2">
              <h5 class="text-uppercase">Stay</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
