<section id="contact" class="section--contact py-5">
  <div class="container">
    <div class="row wow slideInUp">
      <div class="col-12 col-lg-10 col-xl-8 m-auto">
        <h3 class="text-uppercase text-center mb-4">Let's Get Started</h3>
        <div class="team-items">
          <div class="team-item">
            <div class="btn-wrap"><div class="btn btn-close"></div></div>
            <div class="item-wrap">
              <div class="item-info text-center">
                <a href="#" class="btn btn-primary btn-lg mb-5">Vendors Click Here</a>
              </div>
            </div>
            <div class="bio text-center">
              <h5 class="name text-uppercase">Dear Vendors</h5>
              <span class="bio-content text">
                We appreciate your interest in our clients’ projects! However, we do not advise our clients on third-party vendors during the construction phase. Please do not contact us with solicitation, as we will not be able to help! Thank you in advance.
              </span>
            </div>
          </div>
        </div>
        <form action="https://formspree.io/mnqdwpgl" method="POST">
          <div class="form-row">
            <div class="form-group col-sm-6">
              <input class="form-control text" id="first_name" name="first_name" placeholder="First Name" type="text">
            </div>
            <div class="form-group col-sm-6">
              <input class="form-control text" id="last_name" name="last_name" placeholder="First Name" type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-5">
              <input class="form-control text" id="email" name="email" placeholder="Email" type="email">
            </div>
            <div class="form-group col-sm-7">
              <input class="form-control text" id="phone" name="phone" placeholder="Phone" type="tel">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <input class="form-control text" id="subject" name="subject" placeholder="Subject" type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <textarea class="form-control textarea autogrow" id="content" name="content" rows="6" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <p>I want to...</p>
              <div class="form-check p-0">
                <input class="form-check-input checkbox" id="learn_more_360" name="learn_more_360" type="checkbox" value="1">
                <label class="form-check-label checkbox" for="learn_more_360">Learn more about three6ixty services</label>
              </div>
              <div class="form-check p-0">
                <input class="form-check-input checkbox" id="schedule_consultation" name="schedule_consultation" type="checkbox" value="1">
                <label class="form-check-label checkbox" for="schedule_consultation">Schedule a consultation</label>
              </div>
              <div class="form-check p-0">
                <input class="form-check-input checkbox" id="subscribe" name="subscribe" type="checkbox" value="1">
                <label class="form-check-label checkbox" for="subscribe">Subscribe to three6ixty’s newsletter</label>
              </div>
              <div class="form-check p-0">
                <input class="form-check-input checkbox" id="work_intern_360" name="work_intern_360" type="checkbox" value="1">
                <label class="form-check-label checkbox" for="work_intern_360">Work or intern at three6ixty</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 text-center">
              <button class="btn btn-primary btn-lg mt-5" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row wow slideInUp">
      <div class="col-12">
        {{ bottom.text }}
        <img src="{{ bottom.image }}" alt="" class="mw-100 m-auto">
      </div>
    </div>
  </div>
</section>
