<div class="subnav mt-5 py-2 text-center">
  <h5 class="text-uppercase">Case Studies</h5>
  <a href="/dine" class="{% if page.url == '/dine' %}active{% else %} text-muted{% endif %}">Dine</a> &nbsp;|&nbsp;
  <a href="/live" class="{% if page.url == '/live' %}active{% else %} text-muted{% endif %}">Live</a> &nbsp;|&nbsp;
  <a href="/serve" class="{% if page.url == '/serve' %}active{% else %} text-muted{% endif %}">Serve</a> &nbsp;|&nbsp;
  <a href="/stay" class="{% if page.url == '/stay' %}active{% else %} text-muted{% endif %}">Stay</a>
</div>
