$primary: #182A33;
$secondary: #98D000;
$black: $primary;
$white: #fff;
$gray-200: #EFF1F2;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 612b832401ec4eb22ed26add0c9a78e118a29d18
// $font-family-sans-serif: 'Helvetica Neue', sans-serif;
// $headings-font-family: 'Josefin Sans', sans-serif;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: 700;
<<<<<<< HEAD
=======
=======
$font-family-sans-serif: 'Helvetica Neue', sans-serif;
$headings-font-family: 'Josefin Sans', sans-serif;
>>>>>>> Updated Config and 204 other files
>>>>>>> 612b832401ec4eb22ed26add0c9a78e118a29d18
$btn-font-family: $headings-font-family;
$btn-font-weight: 700;
$input-btn-padding-y-lg: .75rem;
$input-border-color: $primary;
$input-border-width: 2px;
$border-radius: .1rem;
$navbar-light-color: $primary;
